################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Magicianred.LearnByDoing.MyBlog/v16/.suo
/Magicianred.LearnByDoing.MyBlog.BL/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.BL/obj
/Magicianred.LearnByDoing.MyBlog.DAL/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.DAL/obj
/Magicianred.LearnByDoing.MyBlog.Domain/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.Domain/obj
/Magicianred.LearnByDoing.MyBlog.Service/obj
/Magicianred.LearnByDoing.MyBlog.Web/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.Web/obj
/Magicianred.LearnByDoing.MyBlog.Web/appsettings.Development.json
/.vs/Magicianred.LearnByDoing.MyBlog/config
.vs/Magicianred.LearnByDoing.MyBlog/DesignTimeBuild/.dtbcache.v2
/Magicianred.LearnByDoing.MyBlog.WebApi/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.WebApi/obj
/Magicianred.LearnByDoing.MyBlog.WebApi/appsettings.Development.json
/.vs/Magicianred.LearnByDoing.MyBlog/v16/TestStore/0
/Magicianred.LearnByDoing.MyBlog.BL.Tests.Unit/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.BL.Tests.Unit/obj
/Magicianred.LearnByDoing.MyBlog.DAL.Tests.Unit/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.DAL.Tests.Unit/obj
/Magicianred.LearnByDoing.MyBlog.Web.Tests.Integration/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.Web.Tests.Integration/obj
/Magicianred.LearnByDoing.MyBlog.WebApi.Integration/bin/Debug/netcoreapp3.1
/Magicianred.LearnByDoing.MyBlog.WebApi.Integration/obj
/Magicianred.LearnByDoing.MyBlog.WebApi.Integration/testsettings.Development.json
/Magicianred.LearnByDoing.MyBlog.WebApi.Integration/testsettings.json
/Magicianred.LearnByDoing.MyBlog.Web/Magicianred.LearnByDoing.MyBlog.Web.csproj.user
/Magicianred.LearnByDoing.MyBlog.Web.Tests.Integration/Magicianred.LearnByDoing.MyBlog.Web.Tests.Integration.csproj.user
/Magicianred.LearnByDoing.MyBlog.WebApi.Integration/Magicianred.LearnByDoing.MyBlog.WebApi.Integration.csproj.user
