@{
    ViewData["Title"] = "About Project";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>Learn By Doing</h2>
    <p><strong>Learn By Doing</strong> is a project to teach web programming.</p>
    <p>A series of repositories will be created to encourage <em>learning by doing</em>.</p>
    <p>From time to time activities will be proposed as if they were <em>real work tasks</em> commissioned by customers.</p>
    <p>
        The activities will be divided into categories (database, frontend and backend) to allow you to discover your <em>programming interests and talents</em>.
    </p>
</div>