@{
    ViewData["Title"] = "Contact Project";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>In this page there are some contact to ask information or notify bug with the project.</p>
    <dl>
        <dt>my-blog-sample Repository (code of this website)</dt>
        <dd>https://github.com/Magicianred/my-blog-sample</dd>
        <dt>How to lanch project</dt>
        <dd>https://github.com/Magicianred/my-blog-sample/blob/develop/README.md</dd>
        <dt>Roadmap of the project</dt>
        <dd>https://github.com/users/Magicianred/projects/5</dd>
        <dt>Learn by doing Repository</dt>
        <dd>https://github.com/Magicianred/learn-by-doing</dd>
        <dt>About the author</dt>
        <dd>https://github.com/Magicianred</dd>
    </dl>
</div>