@model List<Magicianred.LearnByDoing.MyBlog.Domain.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach(var post in Model)
        {
            <li class="post-item post-id-@(post.Id)">
                <h2><a href="/home/post/@post.Id">@post.Title</a></h2>
                <p>@post.Text</p>
            </li>
        }
    </ul>
</div>
