@model List<Magicianred.LearnByDoing.MyBlog.Domain.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more <a href="@Url.Action("About", "Home")">about this project</a>.</p>
    <div class="post-list">
        @foreach(var post in Model)
        {
            <div class="post-item post-id-@(post.Id)">
                <h2><a href="@Url.Action("Post", "Home", new { Id = post.Id })">@post.Title</a></h2>
                <p>@post.Text</p>
            </div>
        }
    </div>
</div>
